@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Rubik';
  src: url('/fonts/Rubik-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'WalterTurncoat';
  src: url('/fonts/WalterTurncoat-Regular.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

html, body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'WalterTurncoat', Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #000;

  overflow-x: hidden;
  overflow-y: auto;
  -ms-overflow-style: none;  /* Hide scrollbar in IE and Edge */
  scrollbar-width: none;
}

@keyframes tvOnEffect {
  0% {
    opacity: 1;
    background: white;
    transform: scaleY(0);
  }
  15% {
    background: red;
    transform: scaleY(0.17);
  }
  30% {
    background: orange;
    transform: scaleY(0.33);
  }
  45% {
    background: yellow;
    transform: scaleY(0.49);
  }
  60% {
    background: green;
    transform: scaleY(0.65);
  }
  75% {
    background: blue;
    transform: scaleY(0.81);
  }
  90% {
    background: purple;
    transform: scaleY(1);
  }
  100% {
    opacity: 0;
    background: black;
  }
}

.tv-effect {
  animation: tvOnEffect 1s ease-in-out forwards;
}

/* .parent-container {
  overflow: hidden;
} */